<launch>

  <!-- simulation/uav -->
  <!-- configs are bundled in "simulation" and "uav" folders -->
  <arg name="RUN_TYPE" default="$(optenv RUN_TYPE)" />

  <!-- Distinguishes the type and propulsion of the UAV -->
  <!-- e.g., f450, f550, t650, etc. -->
  <arg name="UAV_TYPE" default="$(optenv UAV_TYPE)" />

  <!-- Distinguishes the motor+ESC configuration -->
  <!-- the default is called the same as the UAV_TYPE -->
  <!-- for the options, look into mrs_controllers/config/uav/UAV_TYPE -->
  <arg name="PROPULSION_TYPE" default="$(optenv PROPULSION_TYPE)" />

  <!-- Distinguishes the odometry fusion type configuration -->
  <!-- e.g., gps, optflow, vio, etc. -->
  <!-- for the options, look into ... -->
  <arg name="ODOMETRY_TYPE" default="$(optenv ODOMETRY_TYPE)" />

  <arg name="PROFILER" default="$(optenv PROFILER false)" />
  <arg name="UAV_NAME" default="$(optenv UAV_NAME uav)" />
  <arg name="UAV_MASS" default="$(optenv UAV_MASS default)" />
  <arg name="PIXGARM" default="$(optenv PIXGARM false)" />
  <arg name="STANDALONE" default="$(optenv STANDALONE false)" />

  <!-- Other params from env variables -->
  <arg name="BODY_DISTURBANCE_X" default="$(optenv INITIAL_DISTURBANCE_X 0.0)" />
  <arg name="BODY_DISTURBANCE_Y" default="$(optenv INITIAL_DISTURBANCE_Y 0.0)" />

  <arg name="world_file" default="$(find mrs_general)/config/world_simulation.yaml" />
  <arg name="g" default="9.8" />
  <arg name="DEBUG" default="false" />

  <!-- Nodelet Manager -->
  <include file="$(find mrs_general)/launch/nodelet_manager.launch">

    <arg name="STANDALONE" value="$(arg STANDALONE)" />
    <arg name="DEBUG" value="$(arg DEBUG)" />

  </include>

  <!-- Odometry -->
  <include file="$(find mrs_odometry)/launch/odometry.launch">

    <arg name="ODOMETRY_TYPE" value="$(arg ODOMETRY_TYPE)" />
    <arg name="PROFILER" value="$(arg PROFILER)" />
    <arg name="STANDALONE" value="$(arg STANDALONE)" />
    <arg name="PIXGARM" value="$(arg PIXGARM)" />

  </include>

  <!-- Uav Manager -->
  <include file="$(find mrs_uav_manager)/launch/uav_manager.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg name="UAV_MASS" value="$(arg UAV_MASS)" />
    <arg name="g" value="$(arg g)" />
    <arg name="PROFILER" value="$(arg PROFILER)" />
    <arg name="world_file" value="$(arg world_file)" />
    <arg name="STANDALONE" value="$(arg STANDALONE)" />
    <arg name="RUN_TYPE" value="$(arg RUN_TYPE)" />
    <arg name="UAV_TYPE" value="$(arg UAV_TYPE)" />
    <arg name="PROPULSION_TYPE" value="$(arg PROPULSION_TYPE)" />

  </include>

  <!-- Control Manager -->
  <include file="$(find mrs_uav_manager)/launch/control_manager.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg name="UAV_MASS" value="$(arg UAV_MASS)" />
    <arg name="g" value="$(arg g)" />
    <arg name="PROFILER" value="$(arg PROFILER)" />
    <arg name="world_file" value="$(arg world_file)" />
    <arg name="BODY_DISTURBANCE_X" value="$(arg BODY_DISTURBANCE_X)" />
    <arg name="BODY_DISTURBANCE_Y" value="$(arg BODY_DISTURBANCE_Y)" />
    <arg name="STANDALONE" value="$(arg STANDALONE)" />
    <arg name="RUN_TYPE" value="$(arg RUN_TYPE)" />
    <arg name="UAV_TYPE" value="$(arg UAV_TYPE)" />
    <arg name="PROPULSION_TYPE" value="$(arg PROPULSION_TYPE)" />

  </include>

  <!-- Gain Manager -->
  <include file="$(find mrs_uav_manager)/launch/gain_manager.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg name="PROFILER" value="$(arg PROFILER)" />
    <arg name="STANDALONE" value="$(arg STANDALONE)" />
    <arg name="RUN_TYPE" value="$(arg RUN_TYPE)" />
    <arg name="UAV_TYPE" value="$(arg UAV_TYPE)" />

  </include>

  <!-- Constraint Manager -->
  <include file="$(find mrs_uav_manager)/launch/constraint_manager.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg name="PROFILER" value="$(arg PROFILER)" />
    <arg name="STANDALONE" value="$(arg STANDALONE)" />
    <arg name="RUN_TYPE" value="$(arg RUN_TYPE)" />
    <arg name="UAV_TYPE" value="$(arg UAV_TYPE)" />

  </include>

</launch>
