<launch>

  <!-- args corresponding to environment variables -->
  <arg name="RUN_TYPE" default="$(env RUN_TYPE)" />
  <arg name="UAV_TYPE" default="$(env UAV_TYPE)" />
  <arg name="PROPULSION_TYPE" default="$(optenv PROPULSION_TYPE default)" />
  <arg name="ODOMETRY_TYPE" default="$(env ODOMETRY_TYPE)" />
  <arg name="PROFILER" default="$(optenv PROFILER false)" />
  <arg name="UAV_NAME" default="$(env UAV_NAME)" />
  <arg name="PIXGARM" default="$(optenv PIXGARM false)" />
  <arg name="STANDALONE" default="$(optenv STANDALONE false)" />
  <arg name="BODY_DISTURBANCE_X" default="$(optenv INITIAL_DISTURBANCE_X 0.0)" />
  <arg name="BODY_DISTURBANCE_Y" default="$(optenv INITIAL_DISTURBANCE_Y 0.0)" />
  <arg name="DEBUG" default="$(optenv DEBUG false)" />

    <!-- custom configs args -->
  <arg name="config_constraint_manager" default="" />
  <arg name="config_gain_manager" default="" />
  <arg name="config_uav_manager" default="" />
  <arg name="config_control_manager" default="" />
  <arg name="config_odometry" default="" />

    <!-- custom configs for trackers -->
  <arg name="config_csv_tracker" default="" />
  <arg name="config_joy_bumper_tracker" default="" />
  <arg name="config_joy_tracker" default="" />
  <arg name="config_landoff_tracker" default="" />
  <arg name="config_line_tracker" default="" />
  <arg name="config_matlab_tracker" default="" />
  <arg name="config_mpc_tracker" default="" />
  <arg name="config_uav_names" default="" />

    <!-- custom configs for controllers -->
  <arg name="config_acceleration_controller" default="" />
  <arg name="config_attitude_controller" default="" />
  <arg name="config_failsafe_controller" default="" />
  <arg name="config_mpc_controller" default="" />
  <arg name="config_emergancy_controller" default="" />
  <arg name="config_nsf_controller" default="" />
  <arg name="config_so3_controller" default="" />

  <arg name="g" default="9.8" />
  <arg name="n_threads" default="16" />

  <arg if="$(eval arg('RUN_TYPE') == 'simulation' and arg('UAV_TYPE') == 't650')" name="UAV_MASS" default="5.0" />
  <arg if="$(eval arg('RUN_TYPE') == 'simulation' and arg('UAV_TYPE') == 'f550')" name="UAV_MASS" default="3.0" />
  <arg if="$(eval arg('RUN_TYPE') == 'simulation' and arg('UAV_TYPE') == 'f450')" name="UAV_MASS" default="2.3" />
  <arg if="$(eval arg('RUN_TYPE') == 'uav')" name="UAV_MASS" default="$(env UAV_MASS)" />

    <!-- Nodelet Manager -->
  <include file="$(find mrs_general)/launch/nodelet_manager.launch">

    <arg name="standalone" value="$(arg STANDALONE)" />
    <arg name="debug" value="$(arg DEBUG)" />
    <arg name="n_threads" value="$(arg n_threads)" />

  </include>

  <!-- Odometry -->
  <include file="$(find mrs_odometry)/launch/odometry.launch">

    <arg name="ODOMETRY_TYPE" value="$(arg ODOMETRY_TYPE)" />
    <arg name="PROFILER" value="$(arg PROFILER)" />
    <arg name="PIXGARM" value="$(arg PIXGARM)" />
    <arg name="UAV_MASS" value="$(arg UAV_MASS)" />

    <arg name="standalone" value="$(arg STANDALONE)" />
    <arg name="custom_config" value="$(arg config_odometry)" />

  </include>

  <!-- Uav Manager -->
  <include file="$(find mrs_uav_manager)/launch/uav_manager.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg name="UAV_MASS" value="$(arg UAV_MASS)" />
    <arg name="PROFILER" value="$(arg PROFILER)" />
    <arg name="RUN_TYPE" value="$(arg RUN_TYPE)" />
    <arg name="UAV_TYPE" value="$(arg UAV_TYPE)" />
    <arg name="PROPULSION_TYPE" value="$(arg PROPULSION_TYPE)" />

    <arg name="standalone" value="$(arg STANDALONE)" />
    <arg name="g" value="$(arg g)" />
    <arg name="custom_config" value="$(arg config_uav_manager)" />

  </include>

  <!-- Control Manager -->
  <include file="$(find mrs_uav_manager)/launch/control_manager.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg name="UAV_MASS" value="$(arg UAV_MASS)" />
    <arg name="PROFILER" value="$(arg PROFILER)" />
    <arg name="BODY_DISTURBANCE_X" value="$(arg BODY_DISTURBANCE_X)" />
    <arg name="BODY_DISTURBANCE_Y" value="$(arg BODY_DISTURBANCE_Y)" />
    <arg name="RUN_TYPE" value="$(arg RUN_TYPE)" />
    <arg name="UAV_TYPE" value="$(arg UAV_TYPE)" />
    <arg name="PROPULSION_TYPE" value="$(arg PROPULSION_TYPE)" />

    <arg name="standalone" value="$(arg STANDALONE)" />
    <arg name="g" value="$(arg g)" />
    <arg name="custom_config" value="$(arg config_control_manager)" />

    <arg name="custom_config_csv_tracker" value="$(arg config_csv_tracker)" />
    <arg name="custom_config_joy_bumper_tracker" value="$(arg config_joy_bumper_tracker)" />
    <arg name="custom_config_joy_tracker" value="$(arg config_joy_tracker)" />
    <arg name="custom_config_landoff_tracker" value="$(arg config_landoff_tracker)" />
    <arg name="custom_config_line_tracker" value="$(arg config_line_tracker)" />
    <arg name="custom_config_matlab_tracker" value="$(arg config_matlab_tracker)" />
    <arg name="custom_config_mpc_tracker" value="$(arg config_mpc_tracker)" />
    <arg name="custom_config_uav_names" value="$(arg config_uav_names)" />

    <arg name="custom_config_acceleration_controller" value="$(arg config_acceleration_controller)" />
    <arg name="custom_config_attitude_controller" value="$(arg config_attitude_controller)" />
    <arg name="custom_config_failsafe_controller" value="$(arg config_failsafe_controller)" />
    <arg name="custom_config_mpc_controller" value="$(arg config_mpc_controller)" />
    <arg name="custom_config_emergancy_controller" value="$(arg config_emergancy_controller)" />
    <arg name="custom_config_nsf_controller" value="$(arg config_nsf_controller)" />
    <arg name="custom_config_so3_controller" value="$(arg config_so3_controller)" />

  </include>

  <!-- Gain Manager -->
  <include file="$(find mrs_uav_manager)/launch/gain_manager.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg name="PROFILER" value="$(arg PROFILER)" />
    <arg name="RUN_TYPE" value="$(arg RUN_TYPE)" />
    <arg name="UAV_TYPE" value="$(arg UAV_TYPE)" />

    <arg name="standalone" value="$(arg STANDALONE)" />
    <arg name="custom_config" value="$(arg config_gain_manager)" />

  </include>

  <!-- Constraint Manager -->
  <include file="$(find mrs_uav_manager)/launch/constraint_manager.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg name="PROFILER" value="$(arg PROFILER)" />
    <arg name="RUN_TYPE" value="$(arg RUN_TYPE)" />
    <arg name="UAV_TYPE" value="$(arg UAV_TYPE)" />

    <arg name="standalone" value="$(arg STANDALONE)" />
    <arg name="custom_config" value="$(arg config_constraint_manager)" />

  </include>

</launch>
