<launch>
	
	<!-- Static tf publisher from frame of the drone to gps module on the drone -->
	<node pkg="tf" type="static_transform_publisher" name="fcu_to_gps_broadcaster" args="0 0.1 0.2 0 0 0 1 fcu fcu_utm 100" />

	<arg name="fcu_url" default="/dev/pixhawk:921600" />
	<arg name="gcs_url" default="" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />

	<include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find mbzirc_main)/config/px4_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find mbzirc_main)/config/px4_config.yaml" />

		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
		<arg name="tgt_system" value="$(arg tgt_system)" />
		<arg name="tgt_component" value="$(arg tgt_component)" />
		<arg name="log_output" value="$(arg log_output)" />
	</include>
</launch>
