<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>
  
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb -ex run --args"/>

  <group ns="$(arg uav_name)">

    <!-- Nodelet manager -->
    <!-- <node pkg="nodelet" type="nodelet" name="$(arg uav_name)_nodelet_manager" args="manager" output="screen" launch-prefix="urxvt -e gdb -ex run -\-args"> -->
    <node pkg="nodelet" type="nodelet" name="$(arg uav_name)_nodelet_manager" args="manager" output="screen">
      <param name="num_worker_threads" value="32" />
    </node>

  </group>

</launch>
