<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>
  <arg name="project_name" default=""/>

  <group ns="$(arg uav_name)">

    <node pkg="rosbag" type="record" name="rosbag_record" args="-b 16 -o /home/$(optenv USER mrs)/bag_files/latest/ -a -x /$(arg uav_name)/bluefox(.*)/image_raw|/$(arg uav_name)/bluefox(.*)/image_raw/compressed/(.*)|/$(arg uav_name)/bluefox(.*)/image_raw/compressedDepth(.*)|/$(arg uav_name)/bluefox(.*)/image_raw/theora(.*)|/$(arg uav_name)/rs_d435(.*)/image_rect_raw|/$(arg uav_name)/rs_d435(.*)/image_rect_color|/$(arg uav_name)/rs_d435/color/image_raw|/$(arg uav_name)/rs_d435/aligned_depth_to_color/image_raw"/>   

  </group>

</launch>
