<launch>

  <!-- Mavros -->
  <include file="$(find mrs_general)/launch/mavros_uav.launch" />

  <!-- Garmin -->
  <include file="$(find mrs_serial)/launch/uav.launch" />

  <arg name="uav_name" default="$(optenv UAV_NAME)"/>
  <arg name="fcu_frame" default="fcu_$(arg uav_name)" />
  <arg name="garmin_frame" default="garmin_frame" />
  <arg name="sweep_frame" default="laser_frame" />

  <group ns="$(arg uav_name)">

    <!-- x y z r p y parent child -->

    <!-- garmin -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg garmin_frame)_to_$(arg fcu_frame)" args="0.0 0.1 -0.03 0 1.57079632679 0.0 $(arg fcu_frame) $(arg garmin_frame)" />

    <!-- sweep -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg sweep_frame)_to_$(arg fcu_frame)" args="0.0 0.0 0.15 0 0.0 0.0 $(arg fcu_frame) $(arg sweep_frame)" />

    <!-- subt -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="subt_to_local_origin" args="0.0 0.0 0.00 0 0.0 0.0 subt local_origin" />

  </group>

</launch>
